! .Xresources
! @hu5hbot.net

!! Colors
! special
*.foreground:   #000000
*.background:   #ffffff
*.cursorColor:  #000000

! black
*.color0:       #000000
*.color8:       #000000

! red
*.color1:       #ff0000
*.color9:       #ff0000

! green
*.color2:       #00ff00
*.color10:      #00ff00

! yellow
*.color3:       #ffff00
*.color11:      #ffff00

! blue
*.color4:       #0000ff
*.color12:      #0000ff

! magenta
*.color5:       #ff00ff
*.color13:      #ff00ff

! cyan
*.color6:       #00ffff
*.color14:      #00ffff

! white
*.color7:       #ffffff
*.color15:      #ffffff

*.font: -*-tamsyn-medium-r-normal-*-12-*-*-*-*-*-*-*

!! Options
xterm*mouseWheelScrollPage:	true
xterm*cursorBlink:		true
xterm*saveLines:		5000
xterm*internalborder:		5
XTerm*selectToClipboard:	true
XTerm*VT100.Translations:	#override \
	Shift Ctrl<Key>C:	copy-selection(CLIPBOARD) \n\
	Shift Ctrl<Key>V:	insert-selection(CLIPBOARD) \n\
	Shift Ctrl<Key>V:	insert-selection(PRIMARY) \n\
	Shift<Btn1Down>:	select-start() \n\
	Shift<Btn1Motion>:	select-extend() \n\
	Shift<Btn1Up>:		select-end(CLIPBOARD) \n\
